/* HEADER */
header {
  width: 100%;
  background-image: linear-gradient(to right top, #bdc3c7, #9ba2a7, #7a8188, #5a626a, #3d454e); }
  header a {
    color: white;
    text-decoration: none; }
  header .header--logo {
    margin-left: 5%;
    width: auto;
    animation: slideInLeft;
    animation-duration: 5s; }
  header .header--container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .header--nav {
    animation: slideInRight;
    animation-duration: 3s; }
    header .header--nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      header .header--nav ul li {
        display: inline-block; }
        header .header--nav ul li a {
          display: block;
          padding: 0.5rem 1rem;
          transition: all 0.4s linear; }
  header .header--nav ul li a:hover {
    background-color: rgba(237, 255, 243, 0.603); }

.hamburguesa {
  width: 100%;
  background-image: linear-gradient(to right top, #bdc3c7, #9ba2a7, #7a8188, #5a626a, #3d454e); }

label {
  display: none;
  padding: 2%; }

label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3); }

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end; }

.menu li:hover {
  background: rgba(0, 0, 0, 0.3); }

.menu li {
  border-right: 1px solid white; }
  .menu li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none; }

#btn-menu {
  display: none; }

footer {
  background-image: linear-gradient(to right top, #bdc3c7, #9ba2a7, #7a8188, #5a626a, #3d454e);
  color: #d4d4d4;
  font-size: 0.8rem;
  text-align: center;
  height: auto;
  word-spacing: 1%;
  width: 100%; }

.footer--nav2--socials {
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0rem 0 0rem 0;
  padding-bottom: 5px; }
  .footer--nav2--socials li {
    margin: 0 2%; }
    .footer--nav2--socials li a {
      color: rgba(237, 255, 243, 0.603); }
    .footer--nav2--socials li a :hover {
      color: slategray; }

/* INDEXPRUEBA */
.david {
  background-repeat: no-repeat;
  background-image: url(david2.png);
  height: 900px;
  width: 100%;
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .david h3 {
    margin-top: 15px; }

.iconos .iconos--grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 100px; }

.iconos ul {
  list-style: none; }

.iconos ul li :hover {
  list-style: none;
  animation: bounce;
  animation-duration: 1s; }

.index--grid {
  display: grid;
  grid-template-areas: "A B C" "A D E";
  text-align: center;
  margin: auto;
  width: 80%;
  justify-items: center;
  align-items: center;
  column-gap: 2%;
  row-gap: 8%;
  margin-bottom: 15%; }
  .index--grid .A {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: A;
    box-shadow: 0 4px 8px 0 slategray;
    height: 100%; }
  .index--grid .box {
    box-shadow: 0 4px 8px 0 slategray;
    align-items: center; }
  .index--grid .box:hover {
    animation: pulse;
    animation-duration: 1s; }

/* VIAJES */
.mainViajes-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 75px);
  column-gap: 30px; }
  .mainViajes-grid .mainViajes-grid-titulo {
    grid-column: 1/13;
    grid-row: 1/19;
    background-image: url(https://images.unsplash.com/photo-1554904780-9ac4bdfa6a69?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: right; }
    .mainViajes-grid .mainViajes-grid-titulo h1 {
      color: #f8f8f8;
      padding-right: 50px;
      padding-top: 80px; }
    .mainViajes-grid .mainViajes-grid-titulo h2 {
      float: right;
      color: #f8f8f8;
      padding-right: 50px;
      padding-top: 50px;
      width: 500px; }
  .mainViajes-grid .mainViajes-grid-box {
    grid-column: 1/13;
    grid-row: 9/13;
    background-color: white; }
  .mainViajes-grid .mainViajes-grid-flex {
    grid-column: 1/13;
    grid-row: 8/11;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .mainViajes-grid .mainViajes-grid-flex .boxVia1 {
      background-color: white;
      width: 300px;
      height: 200px; }
      .mainViajes-grid .mainViajes-grid-flex .boxVia1 img {
        width: 100%;
        height: 100%;
        padding: 5% 3%; }
      .mainViajes-grid .mainViajes-grid-flex .boxVia1 h3 {
        padding-left: 5%; }
    .mainViajes-grid .mainViajes-grid-flex .boxVia2 {
      background-color: white;
      width: 300px;
      height: 200px; }
      .mainViajes-grid .mainViajes-grid-flex .boxVia2 img {
        width: 100%;
        height: 100%;
        padding: 5% 3%; }
      .mainViajes-grid .mainViajes-grid-flex .boxVia2 h3 {
        padding-left: 5%; }
    .mainViajes-grid .mainViajes-grid-flex .boxVia3 {
      background-color: white;
      width: 300px;
      height: 200px; }
      .mainViajes-grid .mainViajes-grid-flex .boxVia3 img {
        width: 100%;
        height: 100%;
        padding: 5% 3%; }
      .mainViajes-grid .mainViajes-grid-flex .boxVia3 h3 {
        padding-left: 5%; }

.mainViajes-grid2 {
  justify-content: center;
  padding: 0 150px;
  background-color: #1a1a1a;
  display: grid;
  grid-template-columns: repeat(12, 80px);
  grid-template-rows: repeat(12, 65px);
  column-gap: 13px;
  row-gap: 14px; }
  .mainViajes-grid2 .mainViajes-grid2-subtitulo {
    color: white;
    grid-column: 2/10;
    grid-row: 2/4; }
  .mainViajes-grid2 .mainViajes-grid2-box1 {
    grid-column: 2/6;
    grid-row: 9/12; }
    .mainViajes-grid2 .mainViajes-grid2-box1 img {
      width: 100%;
      height: 100%; }
  .mainViajes-grid2 .mainViajes-grid2-box2 {
    grid-column: 4/6;
    grid-row: 6/9; }
    .mainViajes-grid2 .mainViajes-grid2-box2 img {
      width: 100%;
      height: 100%; }
  .mainViajes-grid2 .mainViajes-grid2-box3 {
    grid-column: 6/11;
    grid-row: 5/10; }
    .mainViajes-grid2 .mainViajes-grid2-box3 img {
      width: 100%;
      height: 100%; }
  .mainViajes-grid2 .mainViajes-grid2-box4 {
    grid-column: 9/12;
    grid-row: 6/8;
    background-color: white;
    text-align: center;
    padding-top: 5%; }
  .mainViajes-grid2 .mainViajes-grid2-box5 {
    grid-column: 6/11;
    grid-row: 10/12; }
    .mainViajes-grid2 .mainViajes-grid2-box5 p {
      color: white;
      padding-left: 30px;
      font-size: 80%;
      text-align: left; }

.mainViajes-flex1 {
  background-color: white;
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 450px;
  align-items: center; }
  .mainViajes-flex1 div {
    margin: 10px 25px; }
  .mainViajes-flex1 .mainViajes-flex1-box1 {
    width: 150px;
    margin-right: 5px;
    text-align: left; }
    .mainViajes-flex1 .mainViajes-flex1-box1 h3 {
      font-weight: bold;
      font-size: 1.5rem; }
  .mainViajes-flex1 .mainViajes-flex1-box2 {
    width: 300px;
    margin-right: 5px; }
    .mainViajes-flex1 .mainViajes-flex1-box2 p {
      font-size: 1rem;
      line-height: 17px; }
  .mainViajes-flex1 .mainViajes-flex1-box3 {
    width: 300px;
    margin-right: 5px; }
    .mainViajes-flex1 .mainViajes-flex1-box3 p {
      font-size: 1rem;
      line-height: 15px; }

.mainViajes-grid3 {
  background-color: #1a1a1a;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(12, 80px);
  column-gap: 20px;
  grid-template-rows: repeat(7, 60px);
  row-gap: 20px;
  padding: 30px 0; }
  .mainViajes-grid3 .mainViajes-grid3-box1 {
    color: white;
    grid-column: 2/6;
    grid-row: 2/4; }
    .mainViajes-grid3 .mainViajes-grid3-box1 h3 {
      font-size: 350%;
      font-weight: bolder;
      padding-left: 65px; }
  .mainViajes-grid3 .mainViajes-grid3-box2 {
    grid-column: 4/7;
    grid-row: 1/6; }
    .mainViajes-grid3 .mainViajes-grid3-box2 img {
      width: 100%;
      height: 100%; }
  .mainViajes-grid3 .mainViajes-grid3-box3 {
    grid-column: 7/10;
    grid-row: 3/8;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    padding-top: 25%;
    padding-bottom: 5%; }
  .mainViajes-grid3 .mainViajes-grid3-box4 {
    grid-column: 4/7;
    grid-row: 6/8; }
    .mainViajes-grid3 .mainViajes-grid3-box4 p {
      color: white;
      font-size: 1rem;
      line-height: 19px; }

@media (min-width: 0px) and (max-width: 767.97px) {
  .mainViajes-grid {
    background-color: white;
    display: flex;
    flex-direction: column; }
    .mainViajes-grid .mainViajes-grid-titulo h2 {
      line-height: 15px;
      font-size: 50%;
      width: 150px;
      padding: 0 15px 0 0; }
    .mainViajes-grid .mainViajes-grid-flex {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-row: 6/11; }
      .mainViajes-grid .mainViajes-grid-flex div {
        margin-bottom: 15%; }
  .mainViajes-grid2 {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    column-gap: 15px;
    grid-template-rows: repeat(12, 50px);
    row-gap: 50px;
    padding-top: 35px; }
    .mainViajes-grid2 .mainViajes-grid2-subtitulo {
      grid-column: 1/5;
      grid-row: 1/3; }
    .mainViajes-grid2 .mainViajes-grid2-box3 {
      grid-column: 1/5;
      grid-row: 3/5; }
    .mainViajes-grid2 .mainViajes-grid2-box2 {
      grid-column: 3/5;
      grid-row: 5/8; }
    .mainViajes-grid2 .mainViajes-grid2-box1 {
      grid-column: 1/5;
      grid-row: 8/10; }
    .mainViajes-grid2 .mainViajes-grid2-box4 {
      grid-column: 1/3;
      grid-row: 5/8; }
    .mainViajes-grid2 .mainViajes-grid2-box5 {
      grid-column: 1/5;
      grid-row: 10/12; }
  .mainViajes-grid3 {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    column-gap: 15px;
    grid-template-rows: repeat(12, 50px);
    row-gap: 50px;
    padding-top: 35px; }
    .mainViajes-grid3 .mainViajes-grid3-box2 {
      grid-column: 1/5;
      grid-row: 1/6; }
    .mainViajes-grid3 .mainViajes-grid3-box1 {
      grid-column: 1/5;
      grid-row: 2/4; }
      .mainViajes-grid3 .mainViajes-grid3-box1 h3 {
        font-size: 3rem;
        text-align: center;
        padding: 0; }
    .mainViajes-grid3 .mainViajes-grid3-box3 {
      grid-column: 1/5;
      grid-row: 6/9;
      padding-top: 25px; }
    .mainViajes-grid3 .mainViajes-grid3-box4 {
      grid-column: 1/5;
      grid-row: 9/13; }
      .mainViajes-grid3 .mainViajes-grid3-box4 p {
        font-size: 2rem;
        line-height: 25px; }
  .mainViajes-flex1 {
    display: flex;
    flex-direction: column;
    height: auto; } }

@media (min-width: 767.97px) and (max-width: 991.98px) {
  .mainViajes-grid2 {
    justify-content: center;
    padding: 0 150px;
    background-color: #1a1a1a;
    display: grid;
    grid-template-columns: repeat(12, 60px);
    grid-template-rows: repeat(12, 45px);
    column-gap: 13px;
    row-gap: 14px; }
    .mainViajes-grid2 .mainViajes-grid2-box4 p {
      line-height: 15px; }
    .mainViajes-grid2 .mainViajes-grid2-box5 {
      grid-column: 6/11;
      grid-row: 10/12; }
      .mainViajes-grid2 .mainViajes-grid2-box5 p {
        color: white;
        padding-left: 30px;
        font-size: 80%;
        text-align: left;
        line-height: 20px; }
  .mainViajes-grid3 .mainViajes-grid3-box1 {
    color: white;
    grid-column: 4/6;
    grid-row: 1/4; }
    .mainViajes-grid3 .mainViajes-grid3-box1 h3 {
      font-size: 350%;
      font-weight: bolder;
      padding-left: 65px; } }

/* VESTIMENTA */
.divVestimenta {
  text-align: center;
  width: 100%; }
  .divVestimenta h1 {
    margin: 5%; }

table {
  background-color: #dbd9d9;
  border: black; }

.gridVesti {
  display: grid;
  grid-template-areas: "G1 G2" "G3 G4";
  text-align: center;
  margin: auto;
  width: 80%;
  justify-items: center;
  align-items: center;
  column-gap: 2%;
  row-gap: 8%;
  margin-bottom: 5%;
  margin-top: 5%; }

.G1 {
  max-width: 100%; }

.gridVesti p {
  width: 85%;
  margin: auto; }

.gv {
  box-shadow: 0 4px 8px 0 slategray; }

.G3 img {
  width: 100%; }

/* 333 */
.body333 .cabezal {
  background-image: url(https://images.unsplash.com/photo-1617743220812-6522d771846c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80);
  width: 100%;
  background-size: 100%;
  text-align: center; }
  .body333 .cabezal .cabezal-tit {
    padding-top: 20%;
    color: #d8d8d8; }
  .body333 .cabezal .cabezal-subtit {
    margin-top: 2%;
    padding-bottom: 20%;
    color: #d8d8d8; }

.body333 .fondoFlex {
  background-image: url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);
  background-size: cover; }

.body333 .flex333 {
  color: whitesmoke;
  padding-top: 15%;
  padding-bottom: 15%;
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: center;
  margin: 0 20%; }
  .body333 .flex333 .flex333-izq {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    text-align: left; }
  .body333 .flex333 .flex333-der {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    text-align: right;
    justify-content: flex-end; }

.body333 .fondoPasos {
  background-color: #030014;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1561701863-bcf2d4d6d859?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80); }

.body333 .pasos {
  display: flex;
  flex-direction: row;
  padding-top: 15%;
  padding-bottom: 15%;
  width: 80%;
  justify-content: space-around; }
  .body333 .pasos .pasos-izq {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    justify-content: center;
    font-size: 3rem; }
  .body333 .pasos .pasos-der {
    display: flex;
    flex-direction: column;
    color: #f1f1f1;
    width: 50%;
    text-align: center; }
    .body333 .pasos .pasos-der h2 {
      margin-bottom: 10%;
      margin-top: 10%;
      font-size: 6rem; }

/* RRR */
.tituloSust {
  width: 100%;
  height: 700px;
  background-image: url(https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-size: 100%;
  background-size: cover; }
  .tituloSust h1 {
    text-align: center;
    padding-top: 15%;
    color: white; }

.subtitR h2 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: white;
  width: 100%; }

.tripleR {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: white;
  flex-wrap: wrap; }
  .tripleR .flexR {
    width: 200px;
    height: 300px;
    margin: 2%; }
  .tripleR .reduce {
    background-image: url(https://images.unsplash.com/photo-1620509048004-415ebb9e2755?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80);
    background-size: 200px 300px; }
    .tripleR .reduce h2 {
      margin-top: 40%;
      background-color: white;
      width: 80%;
      margin-left: 10%; }
  .tripleR .reuse {
    background-image: url(https://images.unsplash.com/photo-1604631698209-c105c7874ea8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=659&q=80);
    background-size: 200px 300px; }
    .tripleR .reuse h2 {
      margin-top: 40%;
      background-color: white;
      width: 80%;
      margin-left: 10%; }
  .tripleR .recicle {
    background-image: url(https://images.unsplash.com/photo-1560543899-58ce3bc3c8fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80);
    background-size: 200px 300px; }
    .tripleR .recicle h2 {
      margin-top: 40%;
      background-color: white;
      width: 80%;
      margin-left: 10%; }

.datos-sust {
  background-image: url(https://images01.nicepage.com/0d/eb/0deb95780006ded47c0b24ebfd6a09a0.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 15%; }
  .datos-sust h2 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 50px;
    width: 100%; }
  .datos-sust .datos-sust-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .datos-sust .datos-sust-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .datos-sust .boxSust {
    height: 300px;
    margin: 2% 3%;
    width: 400px;
    background-color: rgba(214, 214, 214, 0.603);
    box-shadow: 0 4px 8px 0 slategray;
    align-items: center;
    text-align: center; }
    .datos-sust .boxSust h3 {
      padding-top: 3%; }
    .datos-sust .boxSust p {
      font-size: 1rem;
      padding: 10% 5%; }

.gridCol {
  background-color: white;
  background-size: cover;
  height: 100vh;
  opacity: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  .gridCol .gridCol-img {
    grid-column: 5/12;
    grid-row: 3/10; }
    .gridCol .gridCol-img img {
      height: 100%;
      width: 100%;
      opacity: 1; }
  .gridCol .gridCol-txt1 {
    grid-column: 3/6;
    grid-row: 2/5;
    background-color: rgba(206, 206, 206, 0.705);
    text-align: center;
    padding: 10% 5%; }
  .gridCol .gridCol-txt2 {
    grid-column: 3/6;
    grid-row: 8/11;
    background-image: url(https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1174&q=80);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 10% 5%; }
  .gridCol .gridCol-txt3 {
    background-color: rgba(206, 206, 206, 0.89);
    grid-column: 8/11;
    grid-row: 9/12;
    text-align: center;
    padding-top: 10%;
    padding: 10% 5%; }

* {
  padding: 0px;
  margin: 0px; }

body {
  background-color: rgba(237, 245, 255, 0.603);
  font-family: 'Nunito Sans', sans-serif;
  color: black;
  font-size: 1.3rem;
  line-height: 1.6em;
  margin: 0; }

.titulos {
  font-family: 'Halant', serif; }

.tituloIndex {
  animation: fadeInDown;
  animation-duration: 8s; }

.titulosIndex2 {
  animation: fadeInUp;
  animation-duration: 8s; }

.video {
  max-width: 80%; }

/* medias q */
@media (min-width: 0px) and (max-width: 575.98px) {
  h1 {
    font-size: 2rem; }
  .index--grid {
    display: flex;
    flex-direction: column; }
    .index--grid .box {
      margin-top: 5%; }
  .cierreViaje-flex {
    flex-direction: column; }
  .gridVesti {
    display: flex;
    flex-direction: column; }
  .flex333 {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .pasos h2 {
    font-size: 1.5rem; }
  .pasos .pasos-der h2 {
    font-size: 1.5rem; }
  .salvar {
    display: flex;
    flex-direction: column; }
  header .header--logo {
    display: none; }
  header .header--nav {
    display: none; }
  .tituloSust {
    width: 100%;
    height: 200px;
    background-image: url(https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: 100%;
    background-size: cover; }
  .subtitR h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: white;
    width: 100%; }
  .triR {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1494216928456-ae75fd96603d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: 100%;
    background-size: cover; }
  .datos-sust {
    display: flex;
    align-items: center; }
    .datos-sust .datos-sust-1 {
      display: flex;
      flex-direction: column; }
    .datos-sust .datos-sust-2 {
      display: flex;
      flex-direction: column; }
    .datos-sust .boxSust {
      width: 90%;
      align-items: center; }
    .datos-sust h2 {
      font-size: 2rem; }
  .gridCol {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .gridCol div {
      width: 90%;
      margin-top: 2%; }
  header label {
    display: block; }
  .menu {
    z-index: 100;
    position: absolute;
    background-image: linear-gradient(to right top, #bdc3c7, #9ba2a7, #7a8188, #5a626a, #3d454e);
    width: 100%;
    margin-left: -100%;
    transition: all 1s; }
    .menu ul {
      flex-direction: column; }
    .menu li {
      border-top: 1px solid white; }
  #btn-menu:checked ~ .menu {
    margin: 0; }
  .header--logo {
    display: none; }
  .header--nav {
    display: none; } }

@media (min-width: 575.98px) and (max-width: 767.97px) {
  h1 {
    font-size: 2rem; }
  .index--grid {
    display: flex;
    flex-direction: column; }
    .index--grid .box {
      margin-top: 5%; }
  .cierreViaje-flex {
    flex-direction: column; }
  .gridVesti {
    display: flex;
    flex-direction: column; }
  .flex333 {
    flex-direction: column; }
  .pasos {
    display: flex;
    flex-direction: column; }
    .pasos h2 {
      font-size: 2rem; }
    .pasos .pasos-der h2 {
      font-size: 2rem; }
  .tituloSust {
    width: 100%;
    height: 300px;
    background-image: url(https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: 100%;
    background-size: cover; }
  .subtitR h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: white;
    width: 100%; }
  .datos-sust {
    display: flex;
    align-items: center; }
    .datos-sust .datos-sust-1 {
      display: flex;
      flex-direction: column; }
    .datos-sust .datos-sust-2 {
      display: flex;
      flex-direction: column; }
    .datos-sust .boxSust {
      max-width: 90%;
      align-items: center; }
  .gridCol {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .gridCol div {
      width: 90%;
      margin-top: 2%; }
  header label {
    display: block; }
  .menu {
    z-index: 100;
    position: absolute;
    background-image: linear-gradient(to right top, #bdc3c7, #9ba2a7, #7a8188, #5a626a, #3d454e);
    width: 100%;
    margin-left: -100%;
    transition: all 1s; }
    .menu ul {
      flex-direction: column; }
    .menu li {
      border-top: 1px solid white; }
  #btn-menu:checked ~ .menu {
    margin: 0; }
  .header--logo {
    display: none; }
  .header--nav {
    display: none; } }

@media (min-width: 767.97px) and (max-width: 991.98px) {
  .tituloSust {
    width: 100%;
    height: 400px;
    background-image: url(https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: 100%;
    background-size: cover; }
  h1 {
    font-size: 3rem; }
  .pasos h2 {
    font-size: 2rem; }
  .menu {
    display: none; }
  .gridCol div {
    font-size: 1rem; } }

@media (min-width: 991.98px) and (max-width: 1199.98px) {
  h1 {
    font-size: 4rem; }
  .pasos h2 {
    font-size: 3rem; }
  .menu {
    display: none; }
  .tituloSust {
    width: 100%;
    height: 600px;
    background-image: url(https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: 100%;
    background-size: cover; } }

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
  h1 {
    font-size: 5rem; }
  .menu {
    display: none; } }

@media (min-width: 1399.98px) {
  h1 {
    font-size: 5rem; }
  .menu {
    display: none; } }
