/* medias q */
@media (min-width: 0px) and(max-width: 575.98px){
    h1{
        font-size: 3.2rem;
    }
    .index--grid{
        display: flex;
        flex-direction: column;
        .box{
            margin-top: 5%;
        }
    }
    header{
        .header--logo{
            display: none;
        }
        .header--nav{
            display: none;
        }
    }
// HAMBURGUESA
    header{
        label{
            display: block;
        }
    }
    .menu{
        z-index: 100;
        position: absolute;
        background-image: linear-gradient(to right top, #bdc3c7, #9ba2a7, #7a8188, #5a626a, #3d454e);
        width: 100%;
        margin-left: -100%;
        transition: all 1s;
        ul{
            flex-direction: column;
        }
        li{
            border-top: 1px solid white;
        }
    }
    #btn-menu:checked ~ .menu{
        margin: 0;
    }
    .header--logo{
        display: none;
    }
    .header--nav{
        display: none;
    }
}
@media (min-width: 575.98px) and(max-width: 767.97px) { 
    h1{
        font-size: 4rem;
    }
    .index--grid{
        display: flex;
        flex-direction: column;
                .box{
            margin-top: 5%;
        }
    }
// HAMBURGUESA
    header{
        label{
            display: block;
        }
    }
    .menu{
        z-index: 100;
        position: absolute;
        background-image: linear-gradient(to right top, #bdc3c7, #9ba2a7, #7a8188, #5a626a, #3d454e);
        width: 100%;
        margin-left: -100%;
        transition: all 1s;
        ul{
            flex-direction: column;
        }
        li{
            border-top: 1px solid white;
        }
    }
    #btn-menu:checked ~ .menu{
        margin: 0;
    }
    .header--logo{
        display: none;
    }
    .header--nav{
        display: none;
    }
}
@media (min-width:767.97px) and(max-width: 991.98px) { 
    h1{
        font-size:  5rem; 
    }
    .menu{
        display: none;
    }
}
@media (min-width: 991.98px) and(max-width: 1199.98px) { 
    h1{
        font-size: 5rem;
    }
    .menu{
        display: none;
    }
}
@media (min-width: 1199.98px) and(max-width: 1399.98px) { 
    h1{
        font-size: 5rem;
    }
    .menu{
        display: none;
    }
}
@media (min-width: 1399.98px) {
    h1{
        font-size: 5rem;
    }
    .menu{
        display: none;
    }
}





