/* medias q */




@media (min-width: 0px) and(max-width: 575.98px){
    h1{
        font-size: 2rem;
    }
    .index--grid{
        display: flex;
        flex-direction: column;
        .box{
            margin-top: 5%;
        }
    }
    
    .cierreViaje-flex{
        flex-direction: column;
    }
    .gridVesti{
        display: flex;
        flex-direction: column;
    }
    .flex333{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .pasos{
        h2{
            font-size: 1.5rem;
        }
        .pasos-der{
            h2{
                font-size: 1.5rem;
            }
        }
    }
    .salvar{
        display: flex;
        flex-direction: column;
    }
    header{
        .header--logo{
            display: none;
        }
        .header--nav{
            display: none;
        }
    }

    .tituloSust{
        width: 100%;
        height: 200px;
        background-image: url(https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
        background-size: 100%;
        background-size: cover;
    }
    .subtitR{
        h2{
            text-align: center;
            font-size: 1.5rem;
            padding-bottom: 50px;
            padding-top: 50px;
            background-color: white;
            width: 100%;
        }
    }
    
    .triR{
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-image: url(https://images.unsplash.com/photo-1494216928456-ae75fd96603d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
        background-size: 100%;
        background-size: cover;
    }
    .datos-sust{
        display: flex;
        align-items: center;
        .datos-sust-1{
            display: flex;
            flex-direction: column;
        }
        .datos-sust-2{
            display: flex;
            flex-direction: column;
        }  
        .boxSust{
            width: 90%;
            align-items: center;
        }  
        h2{
            font-size: 2rem;
        }
    }

    .gridCol{
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
            width: 90%;
            margin-top: 2%;
        }
    }



// HAMBURGUESA
    header{
        label{
            display: block;
        }
    }
    .menu{
        z-index: 100;
        position: absolute;
        background-image: linear-gradient(to right top, #bdc3c7, #9ba2a7, #7a8188, #5a626a, #3d454e);
        width: 100%;
        margin-left: -100%;
        transition: all 1s;
        ul{
            flex-direction: column;
        }
        li{
            border-top: 1px solid white;
        }
    }
    #btn-menu:checked ~ .menu{
        margin: 0;
    }
    .header--logo{
        display: none;
    }
    .header--nav{
        display: none;
    }

}


// X-Small devices (portrait phones, less than 576px)
@media (min-width: 575.98px) and(max-width: 767.97px) { 

    h1{
        font-size: 2rem;
    }
    .index--grid{
        display: flex;
        flex-direction: column;
                .box{
            margin-top: 5%;
        }

    }
    .cierreViaje-flex{
        flex-direction: column;
    }
    .gridVesti{
        display: flex;
        flex-direction: column;
    }
    .flex333{
        flex-direction: column;
    }
    .pasos{
        h2{
            font-size: 2rem;
        }
        display: flex;
        flex-direction: column;
        .pasos-der{
            h2{
                font-size: 2rem;
            }
        }
    }
    .tituloSust{
        width: 100%;
        height: 300px;
        background-image: url(https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
        background-size: 100%;
        background-size: cover;
    }
    .subtitR{
        h2{
            text-align: center;
            font-size: 2rem;
            padding-bottom: 50px;
            padding-top: 50px;
            background-color: white;
            width: 100%;
        }
    }
    .datos-sust{
        display: flex;
        align-items: center;
        
        .datos-sust-1{
            display: flex;
            flex-direction: column;
        }
        .datos-sust-2{
            display: flex;
            flex-direction: column;
        }
        .boxSust{
            max-width: 90%;
            align-items: center;
        }
    }
    .gridCol{
        display: flex;
        flex-direction: column;
        align-items: center;

        div{
            width: 90%;
            margin-top: 2%;
        }
    }

// HAMBURGUESA
    header{
        label{
            display: block;
        }
    }
    .menu{
        z-index: 100;
        position: absolute;
        background-image: linear-gradient(to right top, #bdc3c7, #9ba2a7, #7a8188, #5a626a, #3d454e);
        width: 100%;
        margin-left: -100%;
        transition: all 1s;
        ul{
            flex-direction: column;
        }
        li{
            border-top: 1px solid white;
        }
    }
    #btn-menu:checked ~ .menu{
        margin: 0;
    }
    .header--logo{
        display: none;
    }
    .header--nav{
        display: none;
    }

}






// Small devices (landscape phones, less than 768px)
@media (min-width:767.97px) and(max-width: 991.98px) { 
    
    .tituloSust{
        width: 100%;
        height: 400px;
        background-image: url(https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
        background-size: 100%;
        background-size: cover;
    }

    h1{
        font-size:  3rem; 
    }
    .pasos{
        h2{
            font-size: 2rem;
        }
    }
    .menu{
        display: none;
    }
    .gridCol{
        div{
            font-size: 1rem;
        }
    }
}
// Medium devices (tablets, less than 992px)
@media (min-width: 991.98px) and(max-width: 1199.98px) { 
    
    h1{
        font-size: 4rem;
    }
    .pasos{
        h2{
            font-size: 3rem;
        }
    }
    .menu{
        display: none;
    }
    .tituloSust{
        width: 100%;
        height: 600px;
        background-image: url(https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
        background-size: 100%;
        background-size: cover;
    }

}





// Large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) and(max-width: 1399.98px) { 
    h1{
        font-size: 5rem;
    }
    .menu{
        display: none;
    }

}



// X-Large devices (large desktops, less than 1400px)
@media (min-width: 1399.98px) {
    h1{
        font-size: 5rem;
    }
    .menu{
        display: none;
    }

}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width







